# dependencies
/node_modules

# environment variables
.env
.env.*
!.env.example

# production build
/dist
/build

# custom scripts
createAdmin.js
test-password.js
/scripts/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test coverage
/coverage

# editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS system files
.DS_Store